{% extends "bootstrap/base.html" %}
{% block title %}Novo Curso{% endblock %}
{% block content %}
<div class="container"></div>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="/index">Cursos Online</a>
      </div>
    </nav>
  <h1>Novo Curso</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
  <p>
    {{ form.curso.label }}<br>
    {{ form.curso(size=64) }}
  </p>
  <p>
    {{ form.tipo.label }}<br>
    {{ form.tipo(size=6) }}
  </p>
  <p>
    {{ form.duracao.label }}<br>
    {{ form.duracao(size=10) }}
  </p>
  <p>
    {{ form.submit() }}
  </p>
</form>
</div>
{% endblock %}
