{% extends 'base2.html' %}
{% block title %}Perfil{% endblock %}
{% block html_attribs %} lang="pt-BR"{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
        <br>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <div class="container">    
            <div class="row">
                <div class="panel panel-default">
                <div class="panel-heading">  <h4 >User Profile</h4></div>
                 <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                 <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
               
           
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                    <div class="container" >
                      <h2>{{current_user.name}}</h2>
                      <p>Usuário</p>
                    </div>
                     <hr>
                    <ul class="container details" >
                      <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>{{current_user.username}}</p></li>
                      <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{current_user.email}}</p></li>
                    </ul>
                    <hr>
                    <p><a href="{{ url_for('editar_perfil') }}">Editar</a></p>
          </div>
      </div>
      </div>
{% endif %}
{% endblock %}