{% extends 'base2.html' %}
{% block html_attribs %} lang="pt-BR"{% endblock %}
{% block title %}Cadastro{% endblock %}
{% block content %}
<div class="container">
  <div class="container rounded bg-light">
    <div class="row justify-content-center">
      <div class="text-center">
        <h3 class="display-4">Novo Professor(a)</h3><br>
      </div>
    <form action="" method="POST">
      <div class="form-group">
    
        {{ form.hidden_tag() }}
          <div class="col-md-8 col-md-offset-6">
              <p>
                {{ form.nome.label(class="h5") }}
                {{ form.nome(size=64, class_="form-control",
                  placeholder="Adicionar usuário") }}
              </p>
              <p>
                {{ form.data_nascimento.label(class='h5') }}
                {{ form.data_nascimento(class="form-control") }}
              </p>
              <p>
                {{ form.formacao.label (class='h5')}}
                {{ form.formacao(size=86, class_="form-control",  
                placeholder="Adicionar Formação") }}
              </p>
              </div>
              <div class="col-md">
              <p>
                {{ form.submit(class="btn btn-primary") }}
              </p>
        </div>
    </div>
  </div>
</div>
</form>
</div>
{% endblock %}